body {
    padding: 0;
    margin: 0;
    background: dimgrey;
    cursor: default;
}

#display {
    height: 180px;
    width: auto;
    background: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#display span {
    font-size: 90px;
    color: white;
}

#buttons {
    user-select: none;
    display: grid;
    height: 482px;
    padding: 5px;
    grid-gap: 5px;
    grid-template-areas:
                        "clear clear back back"
                        "seven eight nine divr"
                        "four five six mlp"
                        "one two three minus"
                        "zero comma equal plus";
}

#buttons_clear {
    grid-area: clear;
}

#buttons_back {
    grid-area: back;
}

#buttons_divr {
    grid-area: divr;
}

#buttons_mlp {
    grid-area: mlp;
}

#buttons_minus {
    grid-area: minus;
}

#buttons_plus {
    grid-area: plus;
}

#buttons_comma {
    grid-area: comma;
}

#buttons_equal {
    grid-area: equal;
}

#buttons_zero {
    grid-area: zero;
}

#buttons_one {
    grid-area: one;
}

#buttons_two {
    grid-area: two;
}

#buttons_three {
    grid-area: three;
}

#buttons_four {
    grid-area: four;
}

#buttons_five {
    grid-area: five;
}

#buttons_six {
    grid-area: six;
}

#buttons_seven {
    grid-area: seven;
}

#buttons_eight {
    grid-area: eight;
}

#buttons_nine {
    grid-area: nine;
}

.button {
    border: aqua 1px solid;
    font-size: 70px;
    text-align: center;
    background: aquamarine;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}